html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-size: var(--fz-default);
  font-weight: normal;
  font-family: var(--ff-default);
  min-height: 100vh;
}

h1 {
  margin: 0;
}
